@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;600&family=Oswald:wght@200;400;600&display=swap');

:root {
    --color-main-dark: hsl(0, 0, 0);
    --color-main-light: hsl(0, 0, 100);
    --color-main-accent: hsl(37, 98, 53);
    --color-main-blue: hsl(221, 51, 16);
    --color-main-gray: hsl(0, 0, 90);

    --font-family-primary: 'Montserrat', sans-serif;
    --font-family-secendary: 'Oswald', sans-serif;

    --font-text: var(--font-family-primary);
    --font-heading: var(--font-family-secendary);

    --font-weight-thin: 200;
    --font-weight-regular: 400;
    --font-weight-bold: 600;

    --font-size-mobile-small: .8125rem;
    --font-size-mobile-regular: 1rem;
    --font-size-mobile-big: 2.5rem;

    --font-size-body: var(--font-size-mobile-regular);
    --font-size-menu: var(--font-size-mobile-big);
}

@media (min-width: 50em) {
    :root {
        --font-size-small: .8125rem;
        --font-size-regular: 1rem;
        --font-size-big: 3.5rem;
        
        --font-size-body: var(--font-size-regular);
        --font-size-menu: var(--font-size-big);
    }
}

* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body{
    margin: 0;
    padding: 0;
    line-height: 1.5em;
    font: inherit;
}

html,
body {
    height: 100%;
}

ul,
ol {
    list-style: none;
}

h1 {
    color: var(--color-main-blue);
    font-size: var(--font-size-big);
    font-family: var(--font-heading);
}

